@charset "UTF-8";


.wrap{
    background: rgba(223,217,77,0.7);
    padding: 60px 0;
}

.instructorBox{
    display: flex;
    background: #fff;
	padding: 60px 20px;
    margin-bottom: 60px;
}
.instructorBox:last-child{
	margin-bottom: 0;
}
.instructorBox p{
    width: 40%;
}
.instructorBox dl{
    padding-left: 15px;
    width: 60%;
    box-sizing: border-box;
}
.instructorBox dl dt{
    color: #1e433c;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 87.5%;
    padding-bottom: 15px;
}
.instructorBox dl dd{
    padding-left: 1em;
    padding-bottom: 15px;
}



    /*599px以下になったら表示が切り替わる*/
@media screen and (max-width: 599px){

    .instructorBox{
        flex-direction: column;
    }
    .instructorBox p,
    .instructorBox dl{
        width: 100%;
    }
    .instructorBox p {
        text-align: center;
        margin-bottom: 20px;
    }
    
}
